%md-input-container.search(md-no-float)
  %md-icon
    search
  %input(type='text' ng-model='channel.query' ng-change='channel.filter()' placeholder='Search')

.highlights(ng-if='channel.highlights' infinite-scroll='channel.addBatch()' infinite-scroll-distance='2' infinite-scroll-container='".content"')
  .highlight(ng-repeat='highlight in channel.highlights' layout='row' layout-sm='column' ng-click='channel.goTo(highlight)')
    .highlight--teaser(flex-md=35)
      .highlight--image
        %img(ng-src='{{ highlight.preview }}')
    .highlight--details(layout='column' flex)
      %h3.highlight--title.md-title
        {{ highlight.title }}
      .highlight--subtitle.md-caption.muted
        {{ highlight.recorded_at | date }}
      %p.highlight--description(flex)
        {{ highlight.description }}
      .highlight--info(layout='row')
        .highlight--info-part.is-fixed
          %md-icon
            schedule
          {{ highlight.human_length }}
        .highlight--info-part.is-fixed
          %md-icon
            visibility
          {{ highlight.views }}
        .highlight--info-part(ng-show='highlight.game')
          %md-icon
            tv
          {{ highlight.game }}

%p.muted(ng-show='channel.highlights.length == 0')
  No results.

%p(ng-show='channel.error')
  %md-icon.md-warn
    error
  Twitch error: {{ channel.error }}

%div(layout='row' layout-align='center center')
  .loading-indicator(ng-show='channel.loading')
    %md-progress-circular.md-accent(md-mode='indeterminate')
